init {
    color: rgb(62, 205, 37);
  }
  .sec {
    color: rgba(41, 179, 23, 0.984);
  }
  .title{
      margin: 20px;
  }
  .title3{
      margin:20px;
  }
  .para{
      margin-top: 20px;
      color: rgba(1, 0, 2, 0.862);
  }